/* Created by Boris Martinovic */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1c212d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #1c212d;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #1c212d;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile-side{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1c212d;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile-side{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile-side .name,
.sidebar li.profile-side .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile-side .job{
  font-size: 12px;
}

.sidebar .profile-side #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1c212d;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar.open .profile-side #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #fff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #1c212d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.container {
  position: relative;
  background: #fff;
  min-height: 100vh;
  width: calc(100% - 78px);
  top: 0;
  left: 78px;
  padding: 25px;
  border-radius: 8px;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .container{
  left: 250px;
  width: calc(100% - 250px);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.create-button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.create-button:hover {
  background: rgb(88, 56, 250);
}

.cancel-button{
  text-decoration: none;
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #FF4742;
  display:flex;
	justify-content:center;
	align-items:center;
}

.cancel-button:hover {
  background: #e8322b;
}

.cancel-button2{
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #FF4742;
  display:flex;
	justify-content:center;
	align-items:center;
}

.cancel-button2:hover{
  background: #e8322b;
}

.add-button{
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
  display:flex;
	justify-content:center;
	align-items:center;
}

.add-button:hover{
  background: rgb(88, 56, 250);
}

#addParticipant i{
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: rgb(130, 106, 251);
  border-radius: 12px;
}


#addParticipant{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  margin-left: 5px;
  text-decoration: none;
}

#addParticipant:hover{
  cursor: pointer;
}

.participant-icon{
  margin-top: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
}

.participant-icon img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.participant-name{
  font-weight: bold;
  font-size: 16px;
}

.participant-email{
  font-weight: bold;
  color:#707070;
  font-size: 15px;
}

.remove-button{
  height: 40px;
  width: 100px;
  margin-left: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  /* margin-top: 8px; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #FF4742;
  display:flex;
	justify-content:center;
	align-items:center;
}

.remove-button:hover{
  background: #e8322b;
}

.attendance{
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
}
.attendance input{
  width: 15px;
  height: 15px;
  margin-top: 0px;
  /* margin-left: 100% - 80px; */
}

.button-create{
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem!important;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.button-create:hover{
  background: rgb(88, 56, 250);
}

.role-card{
    margin-bottom: 1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.role-header{
  padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.role-header:first-child{
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.role-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.role-title{
  margin-bottom: 0.5rem;
}

.meet-tab-nav{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
}

.meet-link{
  font-size: 16px;
  margin-bottom: -1px;
  background: 0 0;
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-decoration: none;
}

.meet-link.active{
  color: #0d6efd;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.fade {
  transition: opacity .15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

.meet-link:hover{
  cursor: pointer;
}

.searchOuter{
  display: flex;
  align-items: center;
}

.searchInputOuter{
  width: 50%;
}

.searchControlOuter{
  display: flex;
  justify-content: center;
  width: 40%;
}

.searchControlOuter a{
  margin-right: 10px;
}

#searchList{
  overflow:hidden; 
  overflow-y:scroll;
  background-color: #f8f8f8;
  height: 50%;
}

.searchListItem{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}


.searchListItem:hover{
  background-color: #dee2e6;
}

.searchListName{
  font-weight: 700;
}



/* Style 8
   ----------------------------- */
   h1 {
    position: relative !;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

    
    text-align:center;
   
    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }
  
  h1:after,h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
  }

/*Responsive*/
@media screen and (max-width: 650px) {
  .form .column {
    flex-wrap: wrap;
  }
  .participant-icon{
    flex-wrap: wrap;
  }
  .remove-button{
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
  }
  .attendance{
    flex-wrap: wrap;
  }
}